.orange{
    background: orange;
}
.blue{
    background: skyblue;
}
.header{
    width: 500px;
    text-align: center;
}
td {
    text-align: center;
}

td > a {
    text-decoration: none;
}

.currentPaging {
    color: red;
    text-decoration: underline;
}

.paging {
    color: blue;
    text-decoration: none
}

td > a:link {
    color: black;
    text-decoration: none
}

td > a:active {
    color: black;
    text-decoration: none
}

td > a:visited {
    color: black;
    text-decoration: none
}

td > a:hover {
    color: green;
    text-decoration: underline
}
.main {
    width: 600px;
    height: 700px;
    text-align: center;
    border: 1px solid orange;
}

.content {
    width: 98%;
    height: 70%;
    padding: 6px;
    background: orange;
}

.index {
    width: 600px;
    text-align: center;
}
button:hover{
    color: violet;
    background: lightblue;
}

